<!doctype html>
<html>

    <head>
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <script src="js/app.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </head>

    <body style="height:1500px">

        <!--HEADER-->
        <div class="container-fluid">
            <br>
            <h3>Linea 60</h3>
            <h2>Bienvenidos a la pagina de la linea 60</h2>
            <p>En esta pagina encontraran toda la informacion de los ramales de la linea 60 asi como tambien los horarios y las paradas</p>
        </div>
                
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="#">Inicio</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Ramales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Paradas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resgistrarse</a>
                </li>
            </ul>
        </nav>

        <br></br><br></br>

        <!--MAIN-->
        <div class="container">
            <h2>Ramales</h2>          
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Horario</th>
                        <th>Paradas</th>
                        <th>
                            <button  type="button" class="btn btn-primary">
                                <a>Nuevo</a>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody id="branches">
                    <tr v-for="branch in branches">
                        <td>{{ branch.name }}</td>
                        <td>{{ branch.starts_at}} - {{branch.finish_at}}</td>
                        <td>
                            <button  type="button" class="btn btn-primary">
                                <a>Paradas</a>
                            </button>
                        </td>
                        <td>
                            <button  type="button" class="btn btn-primary">
                                <a>Borrar</a>
                            </button>
                            <button  type="button" class="btn btn-primary">
                                <a>Editar</a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="container">
                <h2>Paradas</h2>          
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Ramal</th>
                            <th>Mapa</th>
                            <th>
                                <button  type="button" class="btn btn-primary">
                                    <a>Nuevo</a>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="stops">
                        <tr v-for="stop in stops">
                            <td>{{ stop.name }}</td>
                            <td>{{ stop.id_branch }}</td>
                            <td>
                                <button  type="button" class="btn btn-primary">
                                    <a>Paradas</a>
                                </button>
                            </td>
                            <td>
                                <button  type="button" class="btn btn-primary">
                                    <a>Borrar</a>
                                </button>
                                <button  type="button" class="btn btn-primary">
                                    <a>Editar</a>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        <script src="js/branches.js"></script>
        
        <script src="js/stops.js"></script>

    </body>
</html>