<!DOCTYPE HTML>
<html>
	<head>
		<link href="../css/app.css" rel="stylesheet">
		<script src="../js/app.js"></script>
		<script src="../js/ramal.js"></script>		
	</head>

	<body>
			
	<div id="branches" class="container">
		<table class="table">
			<tr>
				<th>Id</th>
				<th>Ramal</th>
				<th>Acción</th>
			</tr>
			<tr  v-for="branch in branches">
				<td>
					{{ branch.id }}
				</td>
				<td >
					{{ branch.name }}
				</td>
				<td>
					
					<a v-on:click="deleteRamal(branch)">
						<button type="button" class="btn btn-danger">Borrar</button>
					</a>
				</td>
			</tr>
		</table>
		
		<div class="form-group mx-sm-3 mb-2">
			<input class="form-control" id="inputPassword2" placeholder="Ingrese el nombre del ramal" v-model="newBranch">
			<button type="button" class="btn btn-success" v-on:click="agregarRamal(newBranch)">Agregar</button>
		</div>

	</div>

	
		
	</body>


</html>